%h1 New episode
%form{action: "#{episodes_path}", method: "post"}
  %label{for: "air_date"} Air date
  %input#air_date{type: "date", name: "episode[air_date]"}
  
  %label{for: "host"} Host
  %input#host{type: "text", name: "episode[host]"}
  
  %input{type: "submit"}
  
- @actors.each do |actor|
  %li= actor.name
  - @scoring_types.each do |type|
    %label{for: "#{type.description}_#{actor.id}"}= "#{type.description}"
    %input{type: "hidden", name: "????"}
    %input{id: "#{type.description}_#{actor.id}", type: "number", name: "scoring[count]"}
    